fancy-anim {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2vw;
	width: 4vw;
	border-left: 1px solid white;
}


fancy-anim div {
	position: absolute;
	background-color: white;
	height: 8vw;
	width: 0.2vw;
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
	animation: 20s fancy-anim-marquee infinite linear;
}


@keyframes fancy-anim-marquee {
	from {
		transform: translateY(-8vw);
	}

	to {
		transform: translateY(56.25vw);
	}
}

body.splash fancy-anim {
	opacity: 0;
}